ul {
  list-style: none;
  border-radius: 10%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
  width: 90vw;
  max-width: 500px;
  align-self: center;
  border: 2px dashed coral;
  font-size: 0.9em;
  display: inline-block;
}

li {
  padding: 0;
  margin: 0;
}

.strikethru {
  text-decoration: line-through;
}

.deleteBtn {
  height: 11px;
}

.deleteBtn:hover {
  cursor: pointer;
}
