.App {
  text-align: center;
  background-color: teal;
  height: 100vh;
  padding: 0.1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

h1 {
  color: whitesmoke;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
